<div>
  <h2><%= person.name %></h2>
  <p><%= person.relationship %></p>
</div>
<div>
  <% last_interaction = person.interactions.last %>
  <ul>
    <li><%= last_interaction.date %></li>
    <li><%= last_interaction.method %></li>
    <li><%= last_interaction.initiated_by %></li>
    <li><%= last_interaction.context %></li>
  </ul>
</div>
